.hero-section {
    position: relative;
    text-align: center;
    color: white;
    background-color: #f8f9fa; /* Existing background color */
    background: url('/public/images/main.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Inherit the background image */
    opacity: 0.6; /* Adjust opacity as needed */
    z-index: 0;
  }
  
  .hero-section .container {
    position: relative;
    z-index: 1;
  }
  
  .hero-section .display-4 {
    font-weight: 300;
  }
  
  .hero-section .lead {
    font-weight: 300;
  }